.App{
    @import "Header";
    pre{
        border: 1px solid #ccc;
        margin: 28px 0;
        background-color: #f5f5f5;
        border-radius: 3px;
        line-height: 1.5;
        padding: 8px;
        font-family:"Operator Mono", "Courier New", Courier, monospace;
    }
    main{
        display: flex;
        h2{
            padding-bottom: 6px;
            border-bottom: 2px solid #ccf;
            margin-bottom: 16px;
            font-size: 1.5em;
            font-weight: 300;
          }
        @import "Form";
        @import "Preview";
    }
}